<html>
  <head>
    <%- include("./partials/header.ejs") %>
  </head>
  <body>
    <div
      class="container d-flex flex-column justify-content-around align-items-center"
      style="min-height: 100vh;"
    >
      <img
        src="./assets/images/undraw_Taken_if77.svg"
        alt=""
        class="img-fluid w-25"
      />
      <div class="display-3">Page Not Found!</div>
      <button class="btn btn-primary rounded">
        <a href="/" class="text-white text-decoration-none"
          >Go to Home</a
        >
      </button>
      <small>ERROR 404!</small>
    </div>

    <%- include("./partials/foot.ejs") %>
  </body>
</html>
